.content {
    flex-wrap: wrap;
    margin: 10px;
    margin-top: 3%;
}

.content>div {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.content>div>div {
    position: relative;
    overflow: hidden;
}

.top>div {
    margin: 0px auto;
}

.top div.t-left,
div.t-right {
    width: 20%;
}

.top div.t-center {
    width: 55%;

}

.top>div img {
    width: 100%;
    border-radius: 10px;

}

.bottom {
    width: 100%;
}

.bottom>div {
    width: 49%;
    margin: 0px auto;
}

.bottom>div img {
    width: 100%;
    border-radius: 10px;

}

.bg {
    background-color: rgba(0, 0, 4, 0.3);
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    border-radius: 10px;
    display: none;
    padding: 10px;
}

.content>div>div:hover .bg {
    display: block;
}

.bg h3 {
    margin-left: auto;
    width: 150px;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    background-color: navy;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}