* {
    padding: 0;
    margin: 0;
    font-family: 'Jura', sans-serif;
    color: navy;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
.change{
    color: red;
}
.active{
    /* background-color: #e0f0f5; */
    border-bottom:2px solid #248299;
    margin: 0 30px;

}
/* go to top */
#go {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #57c6e1;
    z-index: 999;
    position: fixed;
    right: 30px;
    bottom: 30px;
    border: 2px solid white;
}

#go a {
    text-decoration: none;
}

#go a i {
    font-size: 40px;
    text-align: center;
    padding: 5px;
}

body {
    /* margin: 0px 25px; */
    padding: 0 20px;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%)
        /* background-image: linear-gradient(to right, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%); */
        /* background-image: linear-gradient(to right, #accbee 0%, #e7f0fd 100%) */
        /* background-image: linear-gradient(to right, #a3bded 0%, #6991c7 100%); */
        /* background-image: linear-gradient(60deg, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%); */
}

.flex {
    display: flex;
    /* flex-wrap: wrap; */
}

.h_header {
    width: 17%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    border-right: 1px solid navy;
}

.header {
    width: 7% !important;
}

/* sub-menu */
nav.sub-menu {
    width: 100% !important;
}

.sub-menu a {
    text-decoration: none;
    color: black;
}

/* menu */
nav.menu {
    width: 100%;
    height: 100%;
    /* margin-right: 10px; */

}

nav.menu ul li:first-child {
    margin-bottom: 80px;
}

nav.menu ul li {
    line-height: 4;

}

nav.menu ul li a {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

nav.menu ul li i {
    font-size: 35px;
    padding: 0px 20px;

}

/* logo */
nav.menu .name {
    width: 100%;
    height: 150px;
}

.name .logo {
    padding-top: 50%;
    width: 95%;
}

.name img {
    width: 80%;
}

/* main */
.h_main {
    width: 100%;
    margin-left: 17.5%;
}

.main {
    margin-left: 7.3% !important;
}

/* điện thoại */
.res-menu {
    display: none;
}

.res-menu>ul {
    width: 100%;
}


.res-menu>ul>li:first-child {
    width: 25%;
    margin: 10px 10px 0 0;
    padding: 0;
}

.res-menu>ul>li {
    width: 15%;
    margin-top: 7%;
    text-align: center;

}

.res-menu i {
    font-size: 25px;
}

.logo {
    width: 100%;
}



/* phần right của trang home */
section#m-right {
    width: 23%;
    position: fixed;
    right: 20px;
    top: 10%;
}

#m-right>div.myProfile {
    width: 100%;
    margin-top: 0%;
}

div.myProfile div.myImg {
    width: 25%;
    margin-right: 5%;
}

div.myImg img {
    width: 100%;
    border-radius: 50%;
}

div.myName div.fname {
    /* padding: 20px 0px; */
    font-size: 35px;

}

div.myName div.lname {
    font-size: 20px;
}

/* thông báo */
/* .note {
    position: fixed;
    top: 0;
    left: 18%;
    right: 100%;
    bottom: 0;
    background-color: aliceblue;
    z-index: 999;
} */
#thongBao {
    top: 0;
    bottom: 0;
    left: -18%;
    right: 100%;
    transition: transform 0.3s ease-in-out;
    background-color: #ffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0 10px 10px 0;
    position: fixed;
 }
 #thongBao>li:first-child{
    margin: 0;
    border-bottom: 1px solid navy;
    text-align: center;
}
#thongBao .notif{
    height:700px;
    overflow-y: scroll;
    overflow-x: auto;

 }
.notif li {
    /* text-align: center; */
    padding: 0 0 0 30px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border: 2px;
}