/* giữa */
#m-center {
    width: 70%;
    border-right: 1px solid navy
}

#m-center>div {
    margin: 0px auto;
    width: 100%;
}

/* nút tìm kiếm */
.search {
    border: 1px solid black;
    width: 70%;
    padding: 15px;
    border-radius: 20px;
    margin: 0px auto;
}

input#ip-search {
    border: none;
    font-size: 17px;
    width: 90%;
    background: none;
}

input#ip-search:focus {
    outline: none;
}

/* story */
.my-stories {
    position: relative;
}

.my-stories>.add {
    right: 5%;
    top: 30%;
}

.wrapper {
    width: 80%;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
}

.wrapper i {
    background-color: #ffff;
    top: 20%;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    font-size: 30px;
    z-index: 9;
    border-radius: 50%;
    border: 1px solid navy;
    cursor: pointer;
}

.wrapper i#left {
    left: 20px;
}

.wrapper i#right {
    right: 20px;
}

.wrapper .carousel {
    width: 100%;
    padding: 10px;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;

}

::-webkit-scrollbar {
    display: none;
}

.carousel li {
    /* height: 200px; */
    object-fit: cover;
    margin: 0 10px;
    text-align: center;
}

.carousel li>div:first-child {
    background: linear-gradient(blue, red, pink, gold);
    border-radius: 50%;
    width: 85px;
    height: 85px;
    padding: 3px;
    margin: 0px auto;
}

.carousel li img {
    width: 100%;
    border-radius: 50%;
}

/* bài viết */
.h-center {
    width: 80%;
    margin: 0px auto;
}

.list-news {
    width: 75%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: block;
    opacity: 1;
    transition: opacity 2s;

}


/* nút restore*/
.restore {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: lightblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: none;
    /*sửa khi hoàn xóa*/
    opacity: 0;
    transition: opacity 2s;

}

.btn-restore {
    margin-left: auto;
    border: 5px;
    font-size: 1.5rem;

}

.n-name>div {
    margin-right: 20px;
}

.n-name .myImg {
    width: 15%;
}

.n-name .myImg img {
    width: 100%;
    border-radius: 50%;
    padding: 10px;
}

.n-name .myName h3 {
    font-size: 30px;
    padding: 50% 0px;
}

.close {
    margin-left: auto;
    cursor: pointer;
}

.close i {
    font-size: 40px;
}

.n-infor {
    width: 100%;
}

.n-infor img {
    width: 100%;
    padding: 10px 0px;
}

.n-heart>div>i {
    font-size: 40px;
    margin-right: 20px;
}

.story-img img:hover {
    transform: scale(1.2, 1.2);
}

.friend {
    margin-top: 5px;
}

.friendss {
    margin-top: 10%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 650px;
    position: relative;
}


.friends {
    width: auto;

}

.friends>ul>li {
    list-style-type: none;

}

div.friend>a {
    display: flex;
    text-decoration: none;
    margin: 5px;
}

div.friend-img {
    position: relative;
}

.ative {
    position: absolute;
    right: 5%;
    top: 70%;
    ;
}

div.friend-img>img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-bottom: 10px;
    background: linear-gradient(gold, rgb(126, 17, 126), red);
    transition: all 1s;
}

div.friend-img>img:hover {
    transform: scale(1.2, 1.2);

}

div.friend-name {
    text-align: center;
    padding: 7% 0 0 3%;
}

div.friend-name span {
    font-size: 20px;
    margin-top: 20px;
}

div.online {
    margin: 5px;
    display: flex;
    /* background-color: lightblue; */
}

div.online>h3 {
    margin: 0 0 5px 0;
    font-size: 25px;
}

div.online>div {
    display: flex;
    margin-left: auto;
    margin-right: 5px;
    justify-content: center;
    border: 1px solid black;
    padding: 3px;
    border-radius: 15px;

}

div.online>div>div>i {
    text-align: center;
    padding-top: 5px;
}

div.online>div input {
    background: none;
    border: none;
}

div.online>div input:focus {
    outline: none;
}

div.n-heart {
    cursor: pointer;
    position: relative;
}

div.n-heart>div {
    width: 6.5%;
    margin: 0 10px;
}

div.n-heart>div>img {
    width: 100%;
}

/* mini chat */
.mini-chat {
    position: fixed;
    background-color: #ffff;
    width: 20%;
    height: 50%;
    bottom: 0;
    right: 5%;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    flex-direction: column;
    justify-content: space-between;
    /* display: none; */
    z-index: 99;
}

.mini-chat>div>div:first-child {
    width: 80%;
}

.mini-chat .icon {
    font-size: 30px;
    margin-left: auto;
    padding: 10px 0;
}

.mini-chat .icon i {
    cursor: pointer;
}

.mini-chat div.chat {
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid navy;
}

div.chat input {
    width: 90%;
    border: none;
    font-size: 15px;
    background: none;
}

div.chat input:focus {
    outline: none;
}

/* nút xem thêm */
.box {
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 25px;
    padding: 10px 0px;
}

.add {
    /* max-height: none ; */
    background-color: aqua;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: gray;
}

.btn-less {
    display: none;
}

.sub-heart {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: aliceblue;
    border-radius: 35px;
    z-index: 9999;
    width: 250px !important;
}

div.heart>i:hover .sub-heart {
    display: block;

}

.sub-heart ul {
    justify-content: space-between;
}

.sub-heart ul li {
    width: 40%;
    margin: 0 10px;
}

.sub-heart ul li>img {
    width: 100%;
    padding: 5px;
}