/* giữa */
#m-center {
    width: 75%;
}

#m-center>div {
    margin: 0px auto;
}

/* nút tìm kiếm */
.search {
    border: 1px solid black;
    width: 70%;
    padding: 15px;
    border-radius: 20px;
    margin: 0px auto;
}

input#ip-search {
    border: none;
    font-size: 17px;
    width: 90%;
    background: none;
}

input#ip-search:focus {
    outline: none;
}

/* trang nội dung chính */
.h-content {
    width: 100%;
}

.tab-story {
    width: 95%;
    margin: 10px auto;
    padding: 10px;
    position: relative;
}


.tab-story ul.stories {
    list-style-type: none;
    align-items: stretch;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    transition: left 2s;
    /*hiếu thêm*/
    left: -4px;
    /* scroll-behavior: auto; */
    /* scroll-behavior: smooth; */
}



ul.stories::-webkit-scrollbar {
    display: none;
}

.tab-story ul.stories li.story {
    width: 100%;
    height: 100%;
    margin: 0 10px;

}

li.story a {
    text-decoration: none;
}

.story-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 3px;
    margin-bottom: 10px;
    margin-left: 20px;
    background: linear-gradient(gold, rgb(126, 17, 126), red);
    position: relative;
    transition: all 1s;
}

.story-img img {
    width: 96%;
    height: 96%;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;

}

.story-name {
    text-align: center;
    margin-bottom: 10px;
}

.btn {
    position: absolute;
    font-size: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.left {
    top: 40px;
    left: 20px;
}

.right {
    top: 40px;
    right: 20px;
}

/* myProfile */
#m-right {
    position: fixed;
    right: 2px;
    width: 21%;
    margin: 1% 0 0 15px;
}

.myProfile {
    width: 100%;
    height: 100px;
    margin-top: 10px;
}

.myImg {
    width: 25%;
    border-radius: 50%;
    padding-right: 20px;
}

.myImg img {
    width: 100%;
    border-radius: 50%;
}

.myName {
    padding-top: 20px;
}

.myName h3 {
    font-size: 35px;
}

.myName a {
    text-decoration: none;
}

.myFriend {
    background-color: blue;
}

/* * thông báo */

.note {
    position: absolute;
    background-color: lightblue;
    width: 0px;
    top: 0px;
    right: 0px;
    left: 100%;
    bottom: 0px;
    transition: width 2s;
    opacity: 0;
    z-index: -111;
    overflow: hidden;
}

.notes:hover .note {
    opacity: 1;
    width: 400px;
}

.notif li {
    text-align: center;
    /* width:1rem; */
    padding: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border: 2px;
}

/* bài viết */
.h-center {
    width: 100%;
    /* background-color: antiquewhite; */
}

.list-news {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: block;
    opacity: 1;
    transition: opacity 2s;

}

/* nút restore*/
.restore {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: lightblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: none;
    /*sửa khi hoàn xóa*/
    opacity: 0;
    transition: opacity 2s;

}

.btn-restore {
    margin-left: auto;
    border: 5px;
    font-size: 1.5rem;

}

.n-name .myImg {
    width: 10%;
}

.close {
    margin-left: auto;
    cursor: pointer;
}

.close i {
    font-size: 40px;
}

.n-infor {
    width: 100%;
}

.n-infor img {
    width: 100%;
    padding: 10px 0px;
}

.n-heart>div>i {
    font-size: 40px;
    margin-right: 20px;
}

/*Hiếu Thêm*/

/*thêm*/
.tab-story {
    overflow: hidden;
}

/*thêm*/
.story-img img:hover {
    transform: scale(1.2, 1.2);
}

.friend {
    margin-top: 5px;
}

.friendss {
    margin-top: 30%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 650px;
}

/* 
section.friend {
    width: 20%;
    margin-top: 20%;
} */

.friends {
    width: auto;

}

.friends>ul>li {
    list-style-type: none;

}

div.friend>a {
    display: flex;
    text-decoration: none;
    margin: 5px;
}

div.friend-img {
    position: relative;
}

div.friend-img>img {
    width: 100%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 10px;
    background: linear-gradient(gold, rgb(126, 17, 126), red);
    transition: all 1s;
}

div.friend-img>img:hover {
    transform: scale(1.2, 1.2);

}

div.friend-name {
    text-align: center;
    padding: 13px;
}

div.online {
    margin: 5px;
    display: flex;
    /* background-color: lightblue; */
}

div.online>h3 {
    margin: 0 0 5px 0;
    font-size: 25px;
}

div.online>div {
    display: flex;
    margin-left: auto;
    margin-right: 5px;
    justify-content: center;
    border: 1px solid black;
    padding: 3px;
    border-radius: 15px;

}

div.online>div>div>i {
    text-align: center;
    padding-top: 5px;
}

div.online>div input {
    /* border: 2px solid black;
    width: 40%;
    border: 1px solid black;
    border-radius: 30px;
    margin-left: 25%; */
    background: none;
    border: none;
}

div.online>div input:focus {
    outline: none;
}

div.n-heart {
    cursor: pointer;
}

/* nút xem thêm */
.box {
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 25px;
    padding: 20px 0px;
}

.add {
    /* max-height: none ; */
    background-color: aqua;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 17px;
}

.btn-less {
    display: none;
}

/* mini chat */
/* .mini-chat{
    width: 500px;
    height: 400px;
    background-color: aquamarine;
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 9999;
} */