.main {
    margin: 0 !important;
}

.actived {
    border-bottom: 2px solid white;
    margin: 15px 0;
}

/* trang index */
#m-center {
    width: 100%;
    border-right: none;
}

/* story */
.wrapper i {
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.my-stories>.add {
    top: 50%;
}

.carousel li>div:first-child {
    width: 60px;
    height: 60px;
    padding: 2px;

}

.carousel li>div>h2 {
    font-size: 15px;
}

/* thanh tìm kiếm */
.search {
    width: 80%;
    padding: 5px;
}

input#ip-search {
    font-size: 13px;
}

.list-news {
    width: 95%;
    padding: 10px;
}

.myName {
    padding-top: 0;
}

.myName h3 {
    padding-top: 10px;
    font-size: 25px;
}

.list-news i {
    font-size: 25px;
}

.n-name .myName h3 {
    padding: 20% 0;
    font-size: 20px;
}

.box p {
    font-size: 13px;
}

.n-heart>div>i {
    font-size: 25px;
}

div.n-heart>div {
    width: 8.5%;
}

.sub-heart {
    width: 140px !important;
}

button {
    font-size: 10px;
}

.res-menu {
    display: block;
}

.h_header {
    display: none;
}

#m-right {
    display: none;
}

.h_main {
    margin-left: 0;

}

/* tạo tin */
section.tin>div.tao-tin {
    width: 55%;
}

div>h1 {
    font-size: 20px;
}

div#del {
    font-size: 20px;
}

div.infor-img>div {
    font-size: 15px;
    padding: 10px;
}

div.infor-img>div>i {
    font-size: 50px;
}

div.infor-img>div>h2 {
    font-size: 15px;

}

.btn-file {
    font-size: 15px;
    width: 70px;
}

section.pic>div.next {
    width: 80%;
    height: 320px;
    margin-top: 40%;
}

div.next span {
    font-size: 15px;
}

div.next div.load-img {
    height: 100%;
}

.load-infor .myImg {
    width: 25%;
}

.load-infor .myName h3 {
    font-size: 20px;
}

div>h1 {
    font-size: 20px;
}

div>textarea {
    width: 100%;
    padding: 0;
    font-size: 15px;
}

section.tin>div.tao-tin {
    margin-top: 35%;
}

/* thông báo */
ul#res-note {
    position: fixed;
    left: 30%;
    right: 5%;
    top: -100%;
    z-index: 999;
    bottom: 200%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffff;
    border-radius: 10px;
    visibility: inherit;
}

ul#res-note li ul {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
}

ul#res-note>li:nth-child(2) {
    border-bottom: 1px solid navy;
    line-height: 2;
    font-size: 20px;
}

ul#res-note ul li {
    text-align: left;
    width: 100%;
    margin: 10px;
    line-height: 4;
}

/* Tạo tam mũi tên hướng lên trên */
.arrow-up {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffff;
    margin-top: -10px;
    margin-left: 45%;
}

/* index 3 */
.main-Profile {
    width: 100%;
    /* padding: 0 10px; */
}

.img-Profile {
    margin-bottom: 20px;
}

.img-Profile div.img {
    width: 100%;
    height: 200px;
}

div.avatar {
    width: 35%;
    margin-top: 5%;
    /* margin-top: -40%; */
}

.img-Profile div.name {
    flex-direction: column;
}

div.fname {
    width: 70%;

}

div.fname>h1 {
    font-size: 25px;
    padding: 0;
}

div.fname>span {
    font-size: 15px;
    color: gray;
    padding: 30px;
}

div.infor {
    width: 100%;
    justify-content: space-between;
}

div.infor>div a {
    font-size: 16px;
}

div.infor div.setting i {
    font-size: 23px !important;
}

.menu-top ul {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 0 10px;
}

.menu-top .tab li {
    line-height: 1.5;
}

/* index 1 */
.bg h3 {
    width: 50px;
    padding: 5px;
    font-size: 10px;

}

/* index 2 - tin nhắn */
/* left  */
section.left {
    width: 25%;
    padding-right: 5px;
}

ul.list-friend>li.item {
    padding: 10px 0;
}

div.myName {
    padding: 0;

}

div.myName h1 {
    font-size: 15px;
    padding: 7px 0;
}

div.myName>div:first-child {
    flex-direction: column;
    margin: 5px auto;
}

div.myName div.arrow-left {
    display: block;
}

div.myName div.find {
    width: 90%;
    padding: 3px;

}

div.find>input {
    width: 90%;
    font-size: 10px;
}

div.f-img {
    width: 70%;
    margin: 0 auto;
}

div.f-img .name {
    display: block;
}

div.friend {
    height: 600px;
}

ul.list-friend a.flex {
    flex-direction: column;

}

div.f-name {
    margin: 0;
    display: none;
}

/* right */
div.icon>ul>li {
    margin: 5px;
}

div.icon>ul>li i {
    font-size: 20px;
}

span.s-name {
    display: block;
}

.node {
    padding-top: 0;
}

.icon ul.flex {
    margin: 13px 0
}

div.mes-top {
    padding: 5px;
    height: 75px;
}

div.inform div.f-img {
    width: 50%;
}

div.ip-text>input {
    font-size: 20px;
}

div.ip-text>i {
    font-size: 20px;
    margin: 17px 15px;

}

/* index 3 */
#tab1>.items {
    background: none !important;

}

.items {
    flex-direction: column;
    box-shadow: none;
}

.item {
    width: 100%;
}

.fix {
    width: 85%;

}

.fix>div h2 {
    font-size: 20px;
}

.fix>div>div>i {
    font-size: 30px;
}

div.picture>div.pic {
    width: 70px;
    height: 70px;
}

div.user>h3 {
    padding-top: 15px;
}

section.unfollow {
    background-color: rgba(10, 29, 35, 0.5);
}

.unfl {
    margin-top: 40%;
    width: 90%;
    font-size: 20px;
}

.unfl>ul>li>button {
    font-size: 20px;
}

.sub-Profile {
    display: none;
}

/* discover */

.top {
    width: 100%;
    display: block;
}

.t-left {
    width: 100% !important;
}

.t-center{
    width: 100% !important;
    height: 100% !important;
}

.t-right {
    width:100% !important;
}

.bottom {
    display: block;
}

.bottom div {
    width:100%;
}

.bg h3 {
    margin-left: auto;
    width: 160px;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    background-color: navy;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}